.boton-escaner-container {
    padding: 5px;
}

.qr-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: transform 0.1s ease-in-out;
}

.qr-container:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.qr-image {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.qr-text {
    position: absolute;
    color: white;
    font-size: 1.2em;
    bottom: -30px; 
    text-align: center;
    width: 100%;
    background: rgba(128, 23, 4, 0.5);
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.scan-bar {
    position: absolute;
    width: 90%;
    height: 4px;
    background-color: red;
    border-radius: 2px;
    top: 0;
    animation: scan-animation 2s ease-in-out infinite alternate;
}

@keyframes scan-animation {
    0% {
        top: 0;
    }
    100% {
        top: 90%;
    }
}