<app-header title="Encuesta de Satisfacción" backButton="/encuesta"></app-header>

<ion-content class="realizar-encuesta">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <!-- Calificación General (Range) -->
    <ion-item class="form-item">
      <ion-label position="stacked" for="calificacionGeneral" class="input-label">Calificación General</ion-label>
      <ion-range
        id="calificacionGeneral"
        name="calificacionGeneral"
        [formControl]="form.controls.calificacionGeneral"
        min="1"
        max="10"
        step="1"
        snaps="true"
      >
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Calidad de la Comida (Radio) -->
    <ion-item class="form-item">
      <ion-label position="stacked" for="calidadComida" class="input-label">Calidad de la Comida</ion-label>
      <ion-radio-group id="calidadComida" name="calidadComida" [formControl]="form.controls.calidadComida">
        <div class="radio-options">
          <ion-item>
            <ion-radio value="Excelente" id="calidadComidaExcelente"></ion-radio>
            <ion-label>Excelente</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Buena" id="calidadComidaBuena"></ion-radio>
            <ion-label>Buena</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Aceptable" id="calidadComidaAceptable"></ion-radio>
            <ion-label>Aceptable</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Regular" id="calidadComidaRegular"></ion-radio>
            <ion-label>Regular</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio value="Mala" id="calidadComidaMala"></ion-radio>
            <ion-label>Mala</ion-label>
          </ion-item>
        </div>
      </ion-radio-group>
    </ion-item>

    <!-- Tiempo de Espera (Select) -->
    <ion-item class="form-item">
      <ion-label position="stacked" for="tiempoEspera" class="input-label">Tiempo de Espera</ion-label>
      <ion-select
        id="tiempoEspera"
        name="tiempoEspera"
        [formControl]="form.controls.tiempoEspera"
        placeholder="Seleccione"
      >
        <ion-select-option value="Muy rápido" id="tiempoEsperaMuyRapido">Muy rápido</ion-select-option>
        <ion-select-option value="Rápido" id="tiempoEsperaRapido">Rápido</ion-select-option>
        <ion-select-option value="Aceptable" id="tiempoEsperaAceptable">Aceptable</ion-select-option>
        <ion-select-option value="Lento" id="tiempoEsperaLento">Lento</ion-select-option>
        <ion-select-option value="Muy lento" id="tiempoEsperaMuyLento">Muy lento</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Amabilidad del Personal (Input) -->
    <ion-item class="form-item">
      <ion-label position="stacked" for="amabilidadPersonal" class="input-label">Amabilidad del Personal</ion-label>
      <ion-input
        type="text"
        id="amabilidadPersonal"
        name="amabilidadPersonal"
        [formControl]="form.controls.amabilidadPersonal"
        placeholder="Ingrese su opinión"
      ></ion-input>
    </ion-item>

    <!-- Limpieza (Checkbox) -->
    <ion-item class="form-item">
      <ion-label position="stacked" class="input-label">Limpieza</ion-label>
      <div class="checkbox-options" formArrayName="limpieza">
        <ion-item>
          <ion-checkbox [formControlName]="0"></ion-checkbox>
          <ion-label>Mesas</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [formControlName]="1"></ion-checkbox>
          <ion-label>Pisos</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox [formControlName]="2"></ion-checkbox>
          <ion-label>Baños</ion-label>
        </ion-item>
      </div>
    </ion-item>

    <!-- Cargar Imágenes -->
    <ion-item class="form-item">
      <ion-button type="button" expand="block" color="tertiary" (click)="openGallery()">Cargar Imágenes</ion-button>
    </ion-item>

    <!-- Slider para Imágenes Cargadas -->
    @if(imagePreviewUrls.length > 0) 
    {
      <swiper-container class="foto-slider" [loop]="true" [pagination]="true" [zoom]="true">
        @for (foto of imagePreviewUrls; track $index) 
        {
          <swiper-slide>
            <div class="swiper-zoom-container">
              <img [src]="foto" alt="Foto de la encuesta" />
            </div>
          </swiper-slide>
        }
      </swiper-container>
    }

    <!-- Botón de Registro -->
    <ion-item class="form-item">
      <ion-button id="submitButton" [disabled]="form.invalid" type="submit" expand="block" color="primary">
        Registrar Encuesta
      </ion-button>
    </ion-item>
  </form>
</ion-content>
