.realizar-encuesta {
  --padding-bottom: 20px;
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;

  .form-item {
    margin-bottom: 24px;
    width: 100%;
    background-color: var(--color-acento);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);

    ion-select {
      margin: 0 auto;
      font-size: 1.5rem;
    }

    ion-input {
      text-align: center;
      font-size: 1.5rem;
    }

    ion-label {
      font-size: 1.7rem;
    }
    ion-item {
      ion-label {
        font-size: 1.7rem;
      }
    }
  }

  .input-label {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-primario);
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 0.5rem;

  }
  
  /* Calificación General */
  ion-range {
    --bar-background: var(--color-secundario);
    --bar-background-active: var(--color-primario);
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #3d3d3d;
    --knob-size: 40px;
    --pin-background: #3d3d3d;
    --pin-color: #fff;
    font-size: 2rem
  }

  .radio-options ion-label, .checkbox-options ion-label{
    letter-spacing: .5rem;
  }

  .foto-slider {
    margin-top: 24px;
    height: 200px;

    swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
