<app-header title="Encuesta de Satisfacción" backButton="/encuesta"></app-header>

<ion-content class="realizar-encuesta">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <div class="form-item">
      <h3 position="stacked" for="calificacionGeneral" class="input-label" style="margin-bottom: -10px;">Calificación General</h3>
      <ion-range
        id="calificacionGeneral"
        name="calificacionGeneral"
        [value]="5" 
        [pin]="true"
        [formControl]="form.controls.calificacionGeneral"
        min="1"
        max="10"
        step="1"
      >
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </div>

    <div class="form-item">
      <h3 position="stacked" for="calidadComida" class="input-label">Calidad de la Comida</h3>
      <ion-radio-group id="calidadComida" name="calidadComida" [formControl]="form.controls.calidadComida">
        <div class="radio-options">
          <ion-item>
            <ion-radio value="Excelente" id="calidadComidaExcelente"></ion-radio>
            <ion-label slot="end">Excelente</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Buena" id="calidadComidaBuena"></ion-radio>
            <ion-label slot="end">Buena</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Aceptable" id="calidadComidaAceptable"></ion-radio>
            <ion-label slot="end">Aceptable</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Regular" id="calidadComidaRegular"></ion-radio>
            <ion-label slot="end">Regular</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Mala" id="calidadComidaMala"></ion-radio>
            <ion-label slot="end">Mala</ion-label>
          </ion-item>
        </div>
      </ion-radio-group>
    </div>

    <div class="form-item">
      <h3 position="stacked" for="tiempoEspera" class="input-label">Tiempo de Espera</h3>
      <ion-select
        id="tiempoEspera"
        name="tiempoEspera"
        [cancelText]="'Cancelar'"
        [okText]="'Aceptar'"
        [formControl]="form.controls.tiempoEspera"
        placeholder="Tiempo"
      >
      <div slot="label">Seleccione opción: </div>
        <ion-select-option value="Muy rápido" id="tiempoEsperaMuyRapido">Muy rápido</ion-select-option>
        <ion-select-option value="Rápido" id="tiempoEsperaRapido">Rápido</ion-select-option>
        <ion-select-option value="Aceptable" id="tiempoEsperaAceptable">Aceptable</ion-select-option>
        <ion-select-option value="Lento" id="tiempoEsperaLento">Lento</ion-select-option>
        <ion-select-option value="Muy lento" id="tiempoEsperaMuyLento">Muy lento</ion-select-option>
      </ion-select>
    </div>

    <div class="form-item">
      <h3 position="stacked" for="amabilidadPersonal" class="input-label">Amabilidad del Personal</h3>
      <ion-input
        type="text"
        id="amabilidadPersonal"
        name="amabilidadPersonal"
        [formControl]="form.controls.amabilidadPersonal"
        placeholder="Ingrese su opinión"
      ></ion-input>
    </div>

    <div class="form-item">
      <h3 position="stacked" class="input-label">Limpieza</h3>
      <div class="checkbox-options" formArrayName="limpieza">
        <ion-item>
          <ion-checkbox [formControlName]="0"></ion-checkbox>
          <ion-label slot="end">Mesas</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [formControlName]="1"></ion-checkbox>
          <ion-label slot="end">Pisos</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [formControlName]="2"></ion-checkbox>
          <ion-label slot="end">Baños</ion-label>
        </ion-item>
      </div>
    </div>

    <ion-button type="button" expand="block" color="tertiary" style="font-size: 1.5rem;" (click)="openGallery()">Cargar Imágenes</ion-button>

    @if(imagePreviewUrls.length > 0) 
    {
      <swiper-container class="foto-slider" [loop]="true" [pagination]="true" [zoom]="true">
        @for (foto of imagePreviewUrls; track $index) 
        {
          <swiper-slide>
            <div class="swiper-zoom-container">
              <img [src]="foto" alt="Foto de la encuesta" />
            </div>
          </swiper-slide>
        }
      </swiper-container>
    }

    <ion-button id="submitButton" [disabled]="form.invalid" type="submit" expand="block" style="font-size: 1.5rem; --background: var(--color-primario); color: #FFF; margin-top: 24px;" >
      Registrar Encuesta
    </ion-button>
  </form>
</ion-content>
