<div class="container-pedidos">
  <ion-button (click)="OpenModal()"> Ver pedidos listo para llevar </ion-button>
  @if(pedidosFiltradosPendiente.length == 0){
    <h2 >No hay pedidos realizados</h2>
  }@else {
    <h2 >Aprobar pedidos</h2>
    @for (pedido of pedidosFiltradosPendiente; track $index) {
      <div class="row-pedido" *ngIf="pedido.estado == 'pendiente'">
        <div class="pedido">
          <h3 class="title-mesa">{{ pedido.mesa }}</h3>
          <p *ngFor="let producto of pedido.productos">{{ producto.descripcion }} x {{ producto.cantidad }}</p>
        </div>
        <div class="row-btn">
          <ion-button (click)="CambiarEstadoPedido(true,pedido)">Aceptar</ion-button>
          <ion-button (click)="CambiarEstadoPedido(false,pedido)">Rechazar</ion-button>
        </div>
      </div>
    }
  }

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="CloseModal()">
    <ng-template>
      <ion-header>
        <ion-button color="primary" (click)="CloseModal()" slot="end">Cerrar</ion-button>
      </ion-header>
      <ion-content>
        <h2 *ngIf="!hayPedidos" style="text-align: center;">No hay pedidos para servir</h2>
        <ng-container *ngFor="let pedido of pedidosAceptados">
          @if ((pedido.cocina === 'listo para servir') || (pedido.bar === 'listo para servir')) {
          <h2 style="text-align: center;">Pedidos listos para llevar</h2>
          <div class="row-pedido">
            <div class="pedido">
                <h3 class="title-mesa">{{ pedido.mesa }}</h3>
                @if(pedido.cocina === 'listo para servir'){
                  @for (producto of pedido.productos; track $index) {
                    @if(EsCocina(producto)){
                      <p >{{ producto.descripcion }} x {{ producto.cantidad }}</p>
                      }
                  }
                }
    
                @if(pedido.bar === 'listo para servir'){
                  @for (producto of pedido.productos; track $index) {
                    @if(EsBar(producto)){
                      <p >{{ producto.descripcion }} x {{ producto.cantidad }}</p>
                      }
                  }
                }
                <div class="row-btn">
                  <ion-button (click)="LlevarPedido(pedido)">Llevar a la mesa</ion-button>
                </div>
              </div>
            </div>
          }
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- <ion-modal [isOpen]="isModalOpen" (didDismiss)="CloseModal()">
    <ng-template>
      <ion-header>
        <ion-button color="primary" (click)="CloseModal()">Cerrar</ion-button>
      </ion-header>
      <ion-content>
        @for (pedido of pedidosFiltradosListoParaServir; track $index) {
          <div class="row-pedido">
            @if(FiltrarPedidosListoParaServir(pedido)){
            <div class="pedido">
              <h3 class="title-mesa">{{ pedido.mesa }}</h3>

                <p *ngFor="let producto of pedido.productos">{{ producto.descripcion }} x {{ producto.cantidad }}</p>
              </div>
              <div class="row-btn">
                <ion-button (click)="LlevarPedido(pedido)">Llevar a la mesa</ion-button>
              </div>
            }
          </div>
        }
      </ion-content>
    </ng-template>
  </ion-modal> -->
</div>  