<app-header title="Juego Stop"></app-header>

<ion-content>
  <div class="container">
    <div class="row-info">
      <p class="informacion-reglas">
        En este juego se debera frenar el cronometro en los 10 segundos. Ni un segundo mas ni un segundo menos.
        Si se logra hacer al primer intento se obtendra un descuento del 10% en el pago total.
      </p>
    </div>
    <div class="row-cronometro">
      <div class="cronometro ion-text-center" >
        Temporizador<br>
        <p>{{ temp }}</p>
      </div>
    </div>
    <div class="row-btn-empezar">
      @if (!empezando && !reiniciar) {
        <ion-button expand="block" (click)="EmpezarCronometro()">Empezar!</ion-button>
      }@else if(empezando && !reiniciar){
        <ion-button expand="block" (click)="EmpezarCronometro()">Frenar!</ion-button>
      }
      @if(!empezando && reiniciar){
        <ion-button expand="block" (click)="ReinicarCronometro()">Reiniciar!</ion-button>
      }
      @if(gano && !empezando){
        <p class="has-ganado ion-text-center">Has ganado!</p>
      }
      @if(perdio && !empezando){
        <p class="has-ganado ion-text-center">Has perdido!</p>
      }

    </div>
  </div>
</ion-content>
