<app-header title="Juego Descuento" backButton="/home"></app-header>

<ion-content>
  <div class="container">
    <div class="row-info">
      <p class="informacion-reglas">
        Detén el cronómetro exactamente en los 10 segundos. No tendrás más de una oportunidad, así que mide bien el tiempo. Si aciertas en tu primer intento, ¡obtendrás un descuento del 10% en el pago total!
      </p>
    </div>

    <div class="row-cronometro">
      <div class="cronometro">
        <div class="cronometro-circle">
          <p class="cronometro-num">{{ temp }}</p>
        </div>
      </div>
    </div>

    <div class="row-btn-empezar">
      @if(juegoTerminado)
      {
        <p class="resultado">{{ gano ? '¡Has ganado! 🎉' : '¡Has perdido! 😢' }}</p>
        
      }
      @else {
        <ion-button expand="block" (click)="!cronometroEmpezado ? EmpezarCronometro() : DetenerCronometro()">
          {{ !cronometroEmpezado ? '¡Empezar!' : '¡Frenar!' }}
        </ion-button>
      }
    </div>

  </div>
</ion-content>
