<app-header title="Menú" backButton="/home"></app-header>

<ion-content class="menu-content">
  <!-- Importe acumulado -->
  @if(menu.length > 0)
  {
    <div class="order-summary">
      <p class="importe">Importe: {{ totalAmount | currency }}</p>
      <p class="tiempo">Tiempo total estimado: {{ estimatedTime }} mins</p>
      <ion-button expand="block" (click)="openOrderModal()" size="large">Ver Pedido</ion-button>
    </div>

    <ion-modal [isOpen]="isOrderModalOpen" (didDismiss)="closeOrderModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title style="font-size: 25px;">Pedido</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeOrderModal()" style="--background: var(--color-primario); --color: white">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
    
        <ion-content class="order-list-content">
          <ion-list>
            <ng-container>
              @for(producto of orderItems; track $index)
              {
                <ion-item>
                  <ion-checkbox class="large-checkbox" slot="start" (ionChange)="checkboxClick(producto)" [(ngModel)]="producto.selected"></ion-checkbox>
                  <ion-thumbnail slot="start" class="large-thumbnail">
                    <img [src]="producto.imagenes[0]" alt="imagen de {{ producto.nombre }}">
                  </ion-thumbnail>
                  <ion-label>
                    <h3 class="large-name">{{ producto.nombre }}</h3>
                    <p class="large-price">{{ producto.precio | currency }}</p>
                  </ion-label>
                  <ion-button fill="outline" size="small" (click)="decrementarCantidad(producto, true)">
                    -
                  </ion-button>
                  <span class="cantidad">{{ producto.cantidad }}</span>
                  <ion-button fill="outline" size="small" (click)="incrementarCantidad(producto, true)">
                    +
                  </ion-button>
                </ion-item>
              }
              
            </ng-container>
          </ion-list>
        </ion-content>
        <ion-footer>
          <div
            style="margin-top: 1rem; display: flex; flex-direction: column; align-items: center; text-align: center;">
            <ion-label 
              style="font-size: 2.5rem; font-weight: bold; color: var(--ion-color-primary); margin-bottom: 0.5rem;">
              Total: {{ totalAmount | currency }}
            </ion-label>
            <ion-note 
              style="font-size: 1.5rem; color: var(--ion-color-dark);">
              Tiempo estimado: {{ estimatedTime }} mins
            </ion-note>
          </div>
        
          <div class="important">
            <ion-button 
              expand="block" 
              size="large" 
              (click)="realizarPedido()">
              Realizar Pedido
            </ion-button>
          </div>
        </ion-footer>
        
      </ng-template>
    </ion-modal>

    <!-- Secciones del menú -->
    @for(categoria of menu; track $index)
    {
      <div class="menu-section">
        <h2>{{ categoria.nombre }}</h2>
        
        @for(producto of categoria.items; track $index) {
          <div class="producto-card">
            <swiper-container class="foto-slider" [pagination]="true" [zoom]="true">
              @for(imagen of producto.imagenes; track $index)
              {
                <swiper-slide>
                  <div class="swiper-zoom-container">
                    <img [src]="imagen" alt="imagen de {{ producto.nombre }}">
                  </div>
                </swiper-slide>
              }
            </swiper-container>
            
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.descripcion }}</p>
            <p>Precio: {{ producto.precio | currency }}</p>
            <p>Tiempo de elaboración: {{ producto.tiempoPreparacion }} mins</p>
            <div class="quantity-controls">
              <ion-button fill="outline" size="small" (click)="decrementarCantidad(producto)">
                -
              </ion-button>
              <span class="cantidad">{{ producto.cantidad }}</span>
              <ion-button fill="outline" size="small" (click)="incrementarCantidad(producto)">
                +
              </ion-button>
            </div>
            <ion-button class="pedido" expand="block" (click)="addToOrder(producto)" [disabled]="producto.cantidad == 0">Añadir al Pedido</ion-button>
          </div>
        }
      </div>
    }
  }
  @else {
    <app-loading></app-loading>
  }
</ion-content>
