<app-header title="Encuesta satisfacción" backButton="/home"></app-header>

<ion-content [fullscreen]="true" class="encuestas-content">
  <ion-grid>
    
    @if(userDoc?.estado) {
      <div class="section">
        <h2 class="section-title">Opiniones de Nuestros Clientes</h2>
        <p class="section-description">Explora las encuestas completadas para conocer la experiencia de nuestros clientes y ayudarnos a mejorar cada día.</p>
      </div>
      <ion-row>
        <ion-col size="12" class="centered">
          <ion-button expand="block" routerLink="/graficos-encuestas">
            Gráficos Encuestas
          </ion-button>
        </ion-col>
      </ion-row>
    }
    
    @if(userDoc?.estado === 'pedido entregado' || userDoc?.estado === 'cuenta solicitada'  || userDoc?.estado === 'cuenta enviada'  || userDoc?.estado === 'cuenta pagada') {
      <ion-row>
        <ion-col size="12" class="centered">
          <ion-button expand="block" (click)="crearEncuesta()">
            Realizar Encuesta
          </ion-button>
        </ion-col>
      </ion-row>
    }

    <ion-row>
      <ion-col size="12">
        <ion-list>
          @for (encuesta of encuestas; track $index) {
            <ion-card color="light" class="encuesta-card">
              <ion-card-header color="secondary">
                <ion-card-title>{{ encuesta.fecha | date: 'dd/MM - HH:mm'}}</ion-card-title>
                <ion-card-subtitle>Calificación General: {{ encuesta.calificacionGeneral }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p><strong>Calidad de la comida:</strong> {{ encuesta.calidadComida }}</p>
                <p><strong>Tiempo de espera:</strong> {{ encuesta.tiempoEspera }}</p>
                <p><strong>Amabilidad del personal:</strong> {{ encuesta.amabilidadPersonal }}</p>
                <p><strong>Limpieza:</strong> {{ getLimpiezaText(encuesta.limpieza)}}</p>
              </ion-card-content>
              @if(encuesta.fotos && encuesta.fotos.length > 0) {
                <swiper-container class="foto-slider" [loop]="true" [pagination]="true" [zoom]="true">
                  @for(foto of encuesta.fotos; track $index) {
                    <swiper-slide>
                      <div class="swiper-zoom-container">
                        <img [src]="foto" alt="Foto de la encuesta" />
                      </div>
                    </swiper-slide>
                  }
                </swiper-container>
              }
            </ion-card>
          } @empty {
            <app-loading></app-loading>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
