<app-header title="Restablecer contraseña" backButton="/login"></app-header>

<ion-content class="forgot-password">
  <div class="form-forgot-password">
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <div class="logo">
        <img src="assets\logo\trio-gourmet-sin-fondo.png">
      </div>
      
      <ion-text>Te enviaremos un mail para que puedas restablecer tu contraseña</ion-text>

      <!-- Email -->
      <div class="email">
        <ion-item lines="none" class="input">
          <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
          <ion-input type="email" [formControl]="form.controls.email" label="Correo" placeholder="Ingrese su correo" label-placement="stacked"/>
        </ion-item>
        
        <div class="validators">
          @if (form.controls.email.touched && form.controls.email.hasError('required')) {
            <ion-label color="danger">El correo es <strong>requerido</strong></ion-label>
          }
          @if (form.controls.email.hasError('email')) {
            <ion-label color="danger">Ingrese un correo <strong>válido</strong></ion-label>
          }
        </div>
      </div>
      
  
      <!-- Botón de enviar -->
      <div class="forgot-password-button">
        <ion-button expand="block" type="submit" [disabled]="form.invalid">
          Enviar
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    
    </form>
  </div>
</ion-content>
