.forgot-password {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-forgot-password{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.logo img {
    margin-top: -1.5rem;
    height: 180px;
    width: 180px;
}

.email {
    margin-top: 1.5rem;
}

ion-item {
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 1px;
}

.validators {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    height: 1px;
}

.forgot-password-button ion-button{
    margin-top: 2rem;
    height: 55px;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
