.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.row-table-clientes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-clientes {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  th {
    text-align: left;
    padding: 10px;
    background-color: #f4f4f4;
    font-size: 1.4rem;
    color: #333;
  }

  td {
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
  }
  
  .acciones-icon {
    ion-button {
      ion-icon {
        font-size: 2rem;
      }
    }
  }

  .expand-icon {
    text-align: center;
    cursor: pointer;

    ion-icon {
      font-size: 1.4rem;
      color: #555;
    }
  }

  .details-row {
    background-color: #f9f9f9;

    .details-container {
      padding: 10px;
      
      p {
        text-align: center;
      }
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
