<div class="container">
  <div class="row-table-clientes">
    @if(!isLoading)
    {
      <table class="table-clientes">
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (cliente of clientesSinAprobacion; track $index) 
          {
            <tr>
              <td class="expand-icon" (click)="toggleExpand($index)">
                <ion-icon [name]="expandedRow == $index ? 'chevron-up' : 'chevron-down'"></ion-icon>
              </td>
              <td>{{ cliente.name }}</td>
              <td>{{ cliente.apellido }}</td>
              <td class="acciones-icon">
                <ion-button color="success" fill="clear" size="small" (click)="aprobarCliente(cliente)">
                  <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                </ion-button>
                <ion-button color="danger" fill="clear" size="small" (click)="rechazarCliente(cliente)">
                  <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                </ion-button>
              </td>
            </tr>
            @if(expandedRow == $index)
            {
              <tr class="details-row">
                <td colspan="5">
                  <div class="details-container">
                    <p><strong>Correo:</strong> {{ cliente.email }}</p>
                    <p><strong>DNI:</strong> {{cliente.dni}}</p>
                    <div class="image">
                      <img [src]="cliente.image" alt="Cliente">
                    </div>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
    @else {
      <app-loading></app-loading>
    }
  </div>
</div>
