
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .row-table-clientes{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table-clientes{
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    th,td{
        border: solid 1px black;
    }
    th{
        font-size: 1.2rem;
    }
    td{
        font-size: 1.1rem;
    }
}

ion-modal{
    --height: 75%;
    --width: 90%;
}
ion-modal ion-toolbar{
    --background: var(--color-secundario-oscuro);
}
ion-modal .ion-content-modal{
    img{
        height: 160px;
        width: 160px;
    }
    p{
        text-align: center;
        font-size: 1.2rem;
    }
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-aprobar, .btn-rechazar{
    margin: 20px 10px 0px 10px;
    font-size: 1.2rem;
}