<div>
  <h2>Listado de clientes con mesa</h2>
  <div>
    @if(clientesConMesa.length == 0) {
      <p>No hay clientes con mesas asignadas.</p>
    }
    @else {
      @for (cliente of clientesConMesa; track $index) {
        <ion-card class="client-card">
          <ion-card-header>
            <ion-card-title>{{ cliente.mesa }}</ion-card-title>
            @if(cliente.perfil == 'cliente') {
              <ion-card-subtitle>Cliente: {{ cliente.name }} {{ cliente.apellido }}</ion-card-subtitle>
            }
            @else {
              <ion-card-subtitle>Cliente: {{ cliente.name }}</ion-card-subtitle>
            }
          </ion-card-header>
    
          <ion-card-content>
            <p>Estado: {{ cliente.estado }}</p>
            <ion-item>
              <!-- ESTO HAY QUE VER COMO LO DEJAMOS Y QUE ACCIONES PUEDE HACER SEGUN LOS ESTADOS -->
              <ion-label>Acción:</ion-label>
              <div class="acciones">
                @if (cliente.estado == 'cuenta solicitada') {
                  <ion-button (click)="enviarCuenta(cliente)">Enviar cuenta</ion-button>
                }
                @else if (cliente.estado == 'cuenta enviada') {
                  <p>Esperando pago...</p>
                }
                @else if (cliente.estado == 'pedido terminado') {
                  <ion-button (click)="llevarPedido(cliente.idPedidoActual!)">LLevar a la mesa</ion-button>
                }
                @else if (cliente.estado == 'pedido realizado') {
                  <ion-button (click)="verPedido(cliente.idPedidoActual!)">Ver pedido</ion-button>
                }
                @else {
                  <p>No hay acciones disponibles</p>
                }
              </div>
              
            </ion-item>
          </ion-card-content>
        </ion-card>
      } 
    }
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/consultas-mozo">
      <ion-icon name="hand-right-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>



<!-- Modal para mostrar el pedido -->
<ion-modal [isOpen]="isModalVerPedidoOpen" (didDismiss)="cerrarModalVerPedido()">
  <ng-template>
    <ion-header>
      <ion-button color="primary" (click)="cerrarModalVerPedido()" slot="end">Cerrar</ion-button>
    </ion-header>
    <ion-content>
      @if (pedidoSeleccionado) {
        <h2 style="text-align: center;">Pedido {{ pedidoSeleccionado.mesa }}</h2>
        <div class="row-pedido">
          <div class="pedido">
            @for (producto of pedidoSeleccionado.productos; track $index) {
              <p>{{ producto.descripcion }} x {{ producto.cantidad }}</p>
            }
            <div class="row-btn">
              <ion-button (click)="aceptarPedido(pedidoSeleccionado)">Aceptar</ion-button>
              <ion-button (click)="rechazarPedido(pedidoSeleccionado)">Rechazar</ion-button>
            </div>
          </div>
        </div>
      }
    </ion-content>
  </ng-template>
</ion-modal>


<!-- Modal para mostrar pedido a llevar -->
<ion-modal [isOpen]="isModalLlevarPedidoOpen" (didDismiss)="cerrarModalLlevarPedido()">
  <ng-template>
    <ion-header>
      <ion-button color="primary" (click)="cerrarModalLlevarPedido()" slot="end">Cerrar</ion-button>
    </ion-header>
    <ion-content>
      @if (pedidoSeleccionado) {
        <h2 style="text-align: center;">Pedido {{ pedidoSeleccionado.mesa }}</h2>
        <div class="row-pedido">
          <div class="pedido">
            <h3>Productos listos:</h3>
            @for (producto of pedidoSeleccionado.productos; track $index) {
              @if ((producto.sector === 'Comidas' && pedidoSeleccionado.cocina === 'listo para servir') || 
                  (producto.sector === 'Bebidas' && pedidoSeleccionado.bar === 'listo para servir')) {
                <p>{{ producto.descripcion }} x {{ producto.cantidad }}</p>
              }
            }
            <div class="row-btn">
              <ion-button (click)="confirmarLlevarPedido(pedidoSeleccionado)">Llevar a la mesa</ion-button>
            </div>
          </div>
        </div>
      }
    </ion-content>
  </ng-template>
</ion-modal>
