<ion-content>

  <div class="container">
    
    <div class="spatola">
      <ion-text color="primary">
        <h1><strong>MATEO SPATOLA</strong></h1>
      </ion-text>
    </div>

    <div class="boullon">
      <ion-text color="primary">
        <h1><strong>NICOLÁS BOULLON</strong></h1>
      </ion-text>
    </div>

    <div class="videla">
      <ion-text color="primary">
        <h1><strong>IVÁN A. VIDELA R.</strong></h1>
      </ion-text>
    </div>

    <div class="logo">
      <img src="assets/icon/favicon.png"/>
    </div>

    <div class="division">
      <ion-text color="primary">
        <h1><strong>PPS - 4ºA</strong></h1>
      </ion-text>
    </div>

  </div>
  
</ion-content>
