ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 100px
}

.spatola, .boullon, .videla {
    position: relative;
    animation: move-up-out 1.5s ease-in-out forwards;
}

.spatola {
    animation-delay: 0.5s;
}

.boullon {
    animation-delay: 0.5s;
    animation-name: move-left-out;
}

.videla {
    animation-delay: 0.5s;
    animation-name: move-right-out;
}

.logo {
    animation: move-logo-up 1.5s ease-in-out forwards 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo, .top-section, .bottom-section 
{
    height: 33.3%;
}

.logo img {
    border-radius: 10rem;
    height: 200px;
    width: 200px;
}

.division {
    animation: move-division-up 1.5s ease-in-out forwards 0.5s;
}

@keyframes move-up-out {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-220%); opacity: 0; }
}

@keyframes move-left-out {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-200%) translateY(-220%); opacity: 0; }
}

@keyframes move-right-out {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(200%) translateY(-220%); opacity: 0; }
}

@keyframes move-logo-up {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(-250px) scale(1.1); }
}

@keyframes move-division-up {
    0% { transform: translateY(0) scale(1); opacity: 1;}
    100% { transform: translateY(-250px) scale(0.9); opacity: 0}
}
