.signup {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signup{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.logo img {
    margin-top: -1.5rem;
    height: 180px;
    width: 180px;
}

.name, .dni, .apellido, .camera, .qr{
    margin-top: 1.5rem;
}
.camera #input-tomar-foto{
    display: none;
}
.camera .label-tomar-foto{
    background-color: var(--ion-color-primary);
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size:  14px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    ion-icon{
        padding-left: 10px;
        transform: scale(1.5);
    }
}

ion-item {
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 1px;
}

.validators {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    height: 1px;
}

.signup-button ion-button{
    margin-top: 2rem;
    height: 55px;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qr ion-button{
    margin: 0px -1px;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.qr ion-icon{
    padding: 7px 0px;
}