<app-header title="Registro Cliente" backButton="/login"></app-header>

<ion-content class="signup">
  <div class="form-signup">
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <div class="logo">
        <img src="assets\logo\trio-gourmet-sin-fondo.png">
      </div>

      <!-- Nombre -->
      <div class="name">
        <ion-item lines="none" class="name-input">
          <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" [formControl]="form.controls.name" label="Nombre" placeholder="Ingrese su nombre" label-placement="stacked"/>
        </ion-item>
        <div class="validators">
          @if (form.controls.name.touched && form.controls.name.hasError('required')) {
            <ion-label color="danger">El nombre es <strong>requerido</strong></ion-label>
          }
          @if (form.controls.name.hasError('minlength')) {
              <ion-label color="danger">El nombre debe tener al menos <strong>4 caracteres</strong></ion-label><br>
          }@else if(form.controls.name.hasError('pattern')) {
            <ion-label color="danger">El nombre debe contener solo <strong>letras</strong></ion-label>
          }
        </div>
      </div>
      
      <!-- Apellido -->
      <div class="apellido">
        <ion-item lines="none" class="input">
          <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" [formControl]="form.controls.apellido" label="Apellido" placeholder="Ingrese su apellido" label-placement="stacked"/>
        </ion-item>
        <div class="validators">
          @if (form.controls.apellido.touched && form.controls.apellido.hasError('required')) {
            <ion-label color="danger">El apellido es <strong>requerido</strong></ion-label>
          }
          @if(form.controls.apellido.hasError('pattern')) {
            <ion-label color="danger">El apellido debe contener solo <strong>letras</strong></ion-label>
          }
        </div>
      </div>
      
      <!-- Email -->
      <div class="email">
        <ion-item lines="none" class="input">
          <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
          <ion-input type="email" [formControl]="form.controls.email" label="Correo" placeholder="Ingrese su correo" label-placement="stacked"/>
        </ion-item>
        
        <div class="validators">
          @if (form.controls.email.touched && form.controls.email.hasError('required')) {
            <ion-label color="danger">El correo es <strong>requerido</strong></ion-label>
          }
          @if (form.controls.email.hasError('email')) {
            <ion-label color="danger">Ingrese un correo <strong>válido</strong></ion-label>
          }
        </div>
      </div>

      <!-- Contraseña -->
      <div class="password">
        <ion-item lines="none" class="input">
          <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [type]="showPassword ? 'password' : 'text'" [formControl]="form.controls.password" label="Contraseña" placeholder="Ingrese su contraseña" label-placement="stacked"/>
          <ion-icon color="primary" slot="end" (click)="showOrHidePassword()" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          
        </ion-item>
        <div class="validators">
          @if (form.controls.password.touched && form.controls.password.hasError('required')) {
            <ion-label color="danger">La contraseña es <strong>requerida</strong></ion-label>
          }
          @if (form.controls.password.hasError('minlength')) {
            <ion-label color="danger">La contraseña debe tener al menos <strong>6 caracteres</strong></ion-label>
          }
        </div>
      </div>

      <!-- DNI -->
      <div class="dni">
        <ion-item lines="none" class="input">
          <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
          <ion-input type="number" [formControl]="form.controls.dni" label="DNI" placeholder="Ingrese su dni" label-placement="stacked"/>
        </ion-item>
        <div class="validators">
          @if (form.controls.dni.touched && form.controls.dni.hasError('required')) {
            <ion-label color="danger">El dni es <strong>requerido</strong></ion-label>
          }
          @if (form.controls.dni.hasError('min')) {
              <ion-label color="danger">El DNI debe ser de al menos 10.000.000.</ion-label>
          }
          @if (form.controls.dni.hasError('max')) {
            <ion-label color="danger">>El DNI no puede ser mayor de 100.000.000.</ion-label>
          }
          @if (form.controls.dni.hasError('pattern')) {
            <ion-label color="danger">El dni debe contener solo <strong>numeros</strong></ion-label>
          }
        </div>
      </div>
      
      <!-- Imagen de foto -->
      
      <div class="image-preview">
        <img [ngClass]="{'not-blank': imagePreviewUrl}" [src]="imagePreviewUrl ? imagePreviewUrl : 'assets/images/blank-profile.png'" alt="Vista previa de la imagen">
      </div>

      <!-- Botón de Camara -->
      <div class="camera">
        <label for="input-tomar-foto-cliente" class="label-tomar-foto-cliente">
          TOMAR FOTO
          <ion-icon slot="end" name="camera-outline"></ion-icon>
        </label>
        <input id="input-tomar-foto-cliente" (click)="takePicture()">
        <div class="validators">
          @if(form.controls.image.touched && form.controls.image.hasError('required')){
            <ion-label color="danger">La imagen es <strong>requerida</strong></ion-label>
          }
        </div>
      </div>
      <!-- Botón de QR -->
      <div class="qr">
        <ion-button expand="block" type="buttons" (click)="scanDNI()">
          Escanear Dni
          <ion-icon slot="end" name="qr-code-outline"></ion-icon>
        </ion-button>
      </div>

      <!-- Ingresar como anonimo -->
      <div class="signup-button">
        <ion-button expand="block" type="button" routerLink="/anonimo-sign-up">
          Ingresar como anonimo
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
      </div>

      <!-- Botón de Registro -->
      <div class="signup-button">
        <ion-button expand="block" type="submit">
          Crear cuenta
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
      </div>
      
    </form>
  </div>
</ion-content>