<app-header title="Registrarse" backButton="/login"></app-header>

<ion-content class="signup">
  <div class="form-signup">
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <div class="logo">
        <img src="assets\logo\trio-gourmet-sin-fondo.png">
      </div>

      <!-- Nombre -->
      <div class="name">
        <ion-item lines="none" class="name-input">
          <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" [formControl]="form.controls.name" label="Nombre" placeholder="Ingrese su nombre" label-placement="stacked"/>
        </ion-item>
        <div class="validators">
          @if (form.controls.name.touched && form.controls.name.hasError('required')) {
            <ion-label color="danger">El nombre es <strong>requerido</strong></ion-label>
          }
          @if (form.controls.name.hasError('minlength')) {
              <ion-label color="danger">El nombre debe tener al menos <strong>4 caracteres</strong></ion-label>
          }
        </div>
      </div>
      
      <!-- Email -->
      <div class="email">
        <ion-item lines="none" class="input">
          <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
          <ion-input type="email" [formControl]="form.controls.email" label="Correo" placeholder="Ingrese su correo" label-placement="stacked"/>
        </ion-item>
        
        <div class="validators">
          @if (form.controls.email.touched && form.controls.email.hasError('required')) {
            <ion-label color="danger">El correo es <strong>requerido</strong></ion-label>
          }
          @if (form.controls.email.hasError('email')) {
            <ion-label color="danger">Ingrese un correo <strong>válido</strong></ion-label>
          }
        </div>
      </div>
      
    <!-- Contraseña -->
    <div class="password">
      <ion-item lines="none" class="input">
        <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input [type]="showPassword ? 'password' : 'text'" [formControl]="form.controls.password" label="Contraseña" placeholder="Ingrese su contraseña" label-placement="stacked"/>
        <ion-icon color="primary" slot="end" (click)="showOrHidePassword()" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        
      </ion-item>
      <div class="validators">
        @if (form.controls.password.touched && form.controls.password.hasError('required')) {
          <ion-label color="danger">La contraseña es <strong>requerida</strong></ion-label>
        }
        @if (form.controls.password.hasError('minlength')) {
          <ion-label color="danger">La contraseña debe tener al menos <strong>6 caracteres</strong></ion-label>
        }
      </div>
    </div>

    <!-- Botón de Registro -->
    <div class="signup-button">
      <ion-button expand="block" type="submit" [disabled]="form.invalid">
        Crear cuenta
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </div>
    
    </form>
  </div>
</ion-content>