<app-header title="Inicio" [showSignOut]="true"></app-header>

<ion-content class="home">
  @if (userDoc) {
    <div class="logo">
      <img src="assets\logo\trio-gourmet-sin-fondo.png">
    </div>
    <h1 class="welcome-title">¡Hola {{userDoc.name}}!</h1>

    @if (userDoc.perfil == 'propietario' || userDoc.perfil == 'supervisor') {
      <div class="section">
        <h2 class="section-title">Clientes en espera de aprobación</h2>
        <app-aprobacion-cliente></app-aprobacion-cliente>
      </div>
    }
    @else if (userDoc.perfil == 'anonimo' || userDoc.perfil == 'cliente') {
      <div class="section">
        
        <app-boton-escaner class="action-button" [correo]="user!.email!"></app-boton-escaner>
        
        @if(!userDoc.estado){
          <p class="p-shared">Escanee el QR "solicitar mesa" para ingresar a la lista de espera.</p>
        }
        @else if(userDoc.estado == 'en lista de espera' && !userDoc.mesa) {
          <h2 class="p-shared">Usted se encuentra en lista de espera. Se le asignará una mesa a la brevedad.</h2>
          <ion-button class="btn-general" routerLink="/encuesta">Encuestas</ion-button>

        }
        @else if(userDoc.estado == 'en lista de espera' && userDoc.mesa){
            <p class="p-shared">Le asignaron la {{ userDoc.mesa }}, escanee su QR para confirmar.</p>
            <ion-button class="btn-general" routerLink="/encuesta">Encuestas</ion-button>
        }
        @else if(userDoc.estado)
        {
          <p class="p-shared">Escanee el QR de la mesa para acceder al menú.</p>
          <ion-button class="btn-general" (click)="openConsultaModal()">{{userDoc.consulta?.respondida ? 'Tienes respuesta a tu consulta' : 'Consulta al mozo'}}</ion-button>
          @if(!userDoc.recibioElPedido && userDoc.estado == 'pedido entregado') {
            <div style="padding-top: 1rem;">
              <p>¡Su pedido ha sido entregado! Por favor revise que esté todo correcto y haga click en el siguiente botón para confirmar:</p>
              <ion-button class="btn-general" color="success" (click)="confirmarRecepcionPedido()">Confirmar recepción del pedido</ion-button>
            </div>
          }
        }
      </div>
    }
    @else if (userDoc.perfil == 'maitre') {
      <div class="section">
        <h2 class="section-title">Asignación de Mesas</h2>
        <app-asignacion-mesa></app-asignacion-mesa>
      </div>
    }
    @else if (userDoc.perfil == 'mozo') {
      <div class="section">
        <app-gestion-mesas></app-gestion-mesas>
      </div>
    }
    @else if (userDoc.perfil == 'cocinero'){
      <div class="section">
        <app-seccion-cocinero></app-seccion-cocinero>
      </div>
    }
    @else if (userDoc.perfil == 'bartender'){
      <div class="section">
        <app-seccion-bartender></app-seccion-bartender>
      </div>
    }

  }
  @else {
    <app-loading></app-loading>
  }


  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeConsultaModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{userDoc!.consulta?.respondida ? 'Contestación del mozo' : 'Consulta al Mozo'}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeConsultaModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
        <div class="modal-container">
          @if(userDoc?.consulta?.respondida)
          {
            <ion-item lines="none" class="consulta-item">
              <ion-label>
                <h2 class="mesa-title">{{ userDoc?.consulta?.respuesta }}: </h2>
                <p class="consulta-fecha">{{ userDoc?.consulta?.fecha | date: 'shortDate'}} - {{ userDoc?.consulta?.fecha | date: 'shortTime'}}</p>
              </ion-label>
            </ion-item>
          }
          @else {
            <ion-item lines="none">
              <ion-textarea [(ngModel)]="consulta" placeholder="Escribe aquí tu mensaje..."></ion-textarea>
            </ion-item>
          }
        </div>
        
        <ion-footer>
          @if(!userDoc?.consulta?.respondida)
          {
            <div class="modal-actions">
              <ion-button expand="block" (click)="sendConsulta()">Enviar</ion-button>
            </div>
          } 
        </ion-footer>
    </ng-template>
  </ion-modal>

</ion-content>
