.home {
  background-color: var(--color-fondo);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-texto);
}

.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  height: 180px;
  width: 180px;
}

.welcome-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-primario);
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 0;
}

.section {
  background-color: var(--color-acento);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--color-primario);
  padding-bottom: 0.5rem;
}

.assigned-table h2,
.assigned-table p {
  font-size: 1.2rem;
  color: var(--color-texto);
}

.action-button {
  display: block;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  background-color: var(--color-primario);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
}

.options {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.options li {
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  background-color: rgba(179, 84, 30, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: var(--color-texto);
  font-weight: bold;
}

.options li::before {
  content: '•';
  font-size: 1.5rem;
  color: var(--color-primario);
  margin-right: 0.5rem;
}

.modal-container {
  padding: 1rem;
  text-align: center;
}

ion-textarea {
  --background: #ffffff;
  --padding-start: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.p-shared{
  font-size: 1.5rem;
  text-align: center;
}


.acceder-encuestas {
  --background: var(--color-primario);
  --color: white;
  font-size: 1.6rem;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.btn-consulta, .btn-general {
  --color: white;
  font-size: 1.6rem;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.btn-general{
  --background: #28a745;
}

.btn-consulta {
  --background: var(--color-primario)
}