<app-header title="Inicio" [showSignOut]="true"></app-header>

<ion-content class="home">
  @if (userDoc) {
    <h1 class="welcome-title">¡Bienvenido!</h1>

    @if (userDoc.perfil == 'propietario' || userDoc.perfil == 'supervisor') {
      <div class="section">
        <h2 class="section-title">Clientes en espera de aprobación</h2>
        <app-aprobacion-cliente></app-aprobacion-cliente>
      </div>
    }
    @else if (userDoc.perfil == 'anonimo' || userDoc.perfil == 'cliente') {
      <div class="section">
        <h2 class="section-title">Opciones:</h2>
        <app-solicitar-mesa class="action-button" [correo]="user!.email!"></app-solicitar-mesa>

        @if(userDoc.estado == 'en lista de espera') {
          <ion-button class="action-button" routerLink="/encuesta">Encuestas</ion-button>
        }
        @else if(userDoc.estado == 'mesa asignada') {
          <div class="assigned-table">
            <h2>YA TIENE MESA ASIGNADA</h2>
            <p>Puede acceder a las siguientes opciones:</p>
            <ion-button class="action-button">Chat con Mozo</ion-button>
            <ion-button class="action-button">Ver Menú</ion-button>
            <ion-button class="action-button">Juegos</ion-button>
          </div>
        }
      </div>
    }
    @else if (userDoc.perfil == 'maitre') {
      <div class="section">
        <h2 class="section-title">Asignación de Mesas</h2>
        <app-asignacion-mesa></app-asignacion-mesa>
      </div>
    }
  }
  @else {
    <app-loading></app-loading>
  }
</ion-content>
