/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';


@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000'); 
:root {
    /* Fuente */
    --ion-font-family: "Afacad Flux", sans-serif;

    /* Colores base */
    --color-fondo: #d9c2a3;
    --color-texto: #4f3d2f;
    --color-primario: #b3541e;
    --color-secundario: #b28451;
    --color-terciario: #f0e5d4;

    /* Ajustes de sombras y tonos */
    --color-fondo-oscuro: #b59e84;
    --color-fondo-claro: #f3eadd;
    --color-texto-oscuro: #223b23;
    --color-texto-claro: #ffffff;
    --color-primario-oscuro: #8a3f17;
    --color-primario-claro: #d16a3a;
    --color-secundario-oscuro: #946a42;
    --color-secundario-claro: #d3a575;
    --color-terciario-oscuro: #dfd0be;
    --color-terciario-claro: #ffffff;


    /* Variables color primario */
    --ion-color-primary: var(--color-primario);
    --ion-color-primary-contrast: var(--color-texto);
    --ion-color-primary-shade: var(--color-primario-oscuro);
    --ion-color-primary-tint: var(--color-primario-claro);

    /* Variables color secundario */
    --ion-color-secondary: var(--color-secundario);
    --ion-color-secondary-contrast: var(--color-texto);
    --ion-color-secondary-shade: var(--color-secundario-oscuro);
    --ion-color-secondary-tint: var(--color-secundario-claro);

    /* Variables color terciario */
    --ion-color-tertiary: var(--color-terciario);
    --ion-color-tertiary-contrast: var(--color-texto);
    --ion-color-tertiary-shade: var(--color-terciario-oscuro);
    --ion-color-tertiary-tint: var(--color-terciario-claro);

    /* Variables de Ionic */
    --ion-background-color: var(--color-fondo); /* Color de fondo de toda la aplicación */
    --ion-text-color: var(--color-texto); /* Color de texto de toda la aplicación */
    --ion-backdrop-color: var(--color-fondo-oscuro); /* Color del componente Backdrop */
    --ion-backdrop-opacity: 0.5; /* Opacidad del componente Backdrop */
    --ion-overlay-background-color: var(--color-fondo); /* Color de fondo de las superposiciones */
    --ion-border-color: var(--color-secundario); /* Color de borde */
    --ion-box-shadow-color: rgba(0, 0, 0, 0.2); /* Color de sombra de la caja */
    --ion-item-background: var(--color-fondo); /* Fondo del Item */
    --ion-item-border-color: var(--color-secundario); /* Color de borde del Item */
    --ion-item-color: var(--color-texto); /* Color de los componentes en el Item */
    --ion-placeholder-color: var(--color-texto-claro); /* Color del placeholder en Inputs */

}